**/.vs/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/packages/
**/.nuget/
**/.dotnet/
**/nuget.config
**/NuGet.Config
**/.gitignore
**/.git/
**/Dockerfile*
**/docker-compose*
**/*.md
**/logs/
**/.vscode/
**/.idea/